#mapid {
    height: 90%;
     width: 100%;
 }

.marker {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.amenity-table-body {
    max-height: 200px;
    overflow-y: scroll;
}

.amenity-holder {
    border-radius: 0 !important;
}

.zeroed-margin {
    margin: 0 !important;
}

.btn-rect {
    border-radius: 0 !important;
}

body {
    font-size: 14px !important;
}

div p td th a {
    font-size: 14px !important;
}

* {
    font-size: 14px !important;
}

h1 {
    font-size: 20px !important;
}

h5 {
    font-size: 16px !important;
}
