<html>
<head>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='application.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<hr>
{% block content %}{% endblock %}
</body>
</html>